numpy>=2.3.0
Pillow>=12.0.0
tqdm>=4.67.0
ipython>=9.6.0
ipywidgets>=8.1.0

# math optimizations not in use for now
numba~=0.61.2

# only for one function - src/io/animatons.py frames_to_mp4 can be done using ffmpeg instead from sequence of images
imageio>=2.30.0